/********** Base styles **********/
* {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #333;
}
#Title {
  margin-bottom: 15px;
  text-align: center;
  font-family: fantasy, papyrus;
  color: white;
}

#MovieTitle{
  position: absolute;
  top: -15px;
  right: 0px;
  width: 50%;
  font-size: 16px;
  background-color: green;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 5px;
}

#synopsis{
  position: relative;
  top: 25px;
  width: 90%;
  background-color: purple;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  font-family: courier;
  color: white;
  text-align: center;
  overflow-y: scroll !important;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;

}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .col-lg-4{
    float: left;
    border: 1px solid green;
    background-color: pink;
    height: 220px;
    position: relative;
    width: 32%;
    overflow: auto;
    margin-left: 10px;
  }
}

/********** Medium devices only **********/
@media  (max-width: 1199px) {
  .col-md-6 {
    float: left;
    border: 1px solid green;
    background-color: pink;
    position: relative;
    width: 48%;
    height: 220px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

@media (min-width: 10px) and (max-width: 991px) {
  .col-sm-1 {

    margin-left: 50px;
    border: 1px solid green;
    background-color: pink;
    width: 90%;
    height: 200px;


  }
}




